.Login .container .row,
.Register .container .row {
	height: 91vh;
}

.btn-primary {
	color: #477dc9;
	border: 2px solid #477dc9;
	border-radius: 8px;
}

.btn-primary:hover {
	color: #fff;
	background-color: #477dc9;
	border-color: #477dc9;
}

input.form-control {
	background-color: #e6e6e6;
}
