body {
	background-color: #f2f2f2;
}

.NavbarTestComponent .SidebarMenu nav#sidebarMenu.sidebar.bg-light {
	background-color: #20364d !important;
}

.SidebarMenu .sidebar-sticky li.nav-item a.nav-link {
	color: #fff;
	font-weight: 400;
}

.NavbarTestComponent .navbar {
	opacity: 1;
}
